.container-fluid {
    width: 100%;
}

.navbar{
    position: relative;
    width: 100vw!important;
}

.nav {
    width: 100% !important;
    background-color: aqua;
}

#navbarScrollingDropdown {
    color: black;
}

.requests {
    color: black;
    background-color: darkpink;
}