.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box div {
    width: 200px;
    height: 50px;
    flex-direction: center;
  }
     